* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    overflow: hidden;
}
  
button {
    width: 70px;
    height: 50px;
    border-top: 0.5px solid rgb(255, 255, 255);
    border-bottom: 0.5px solid rgb(255, 255, 255);
    border-left: none;
    border-right: none;
    outline: none;
    font-family: 'Product Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: 700ms;
}

button:hover {
  border-top: 0.5px solid rgb(255, 255, 255);
  border-bottom: 0.5px solid rgb(255, 255, 255);
  border-left: none;
  border-right: none;
  background:rgba(255, 255, 255, 0.156);
}



.mySliders{
    width: 150px;
    background-color: transparent;
    /* Removes some defaults */
    -webkit-appearance: none;
}

/* This is the "track" that the slider sits on  */
.mySliders::-webkit-slider-runnable-track {
    background: none;
    border: 1px solid white;
    height: 13px;
    border-radius: 6.5px;
    -webkit-appearance: none;
    cursor: pointer;
    transition: 500ms;
}

.mySliders::-webkit-slider-runnable-track:hover {
  background-color: rgba(255, 255, 255, 0.156);
}

/* This is the moveable bit of the slider, known as the "thumb" */
.mySliders::-webkit-slider-thumb {
    width: 9px;
    height: 9px;
    background-color: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0.76px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 50%;
    transition: 500ms;
}

.speed-caption:after{
  content:"SPEED";
  position: absolute;
  font-family: 'Product Sans', sans-serif;
  font-size: 15px;
  color: white;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.planets-caption:after{
  content:"VOLUME";
  position: absolute;
  font-family: 'Product Sans', sans-serif;
  font-size: 15px;
  color: white;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.myImages{
    cursor:pointer;
    border: 2px solid rgb(0, 0, 0);
    transition: 300ms;
}

.myImages:hover{
    border: 2px solid rgb(255, 255, 255);
}